{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}
<div class="min-h-screen bg-gradient-to-b from-[#2b5e2b] via-yellow-200 to-[#8c5722] flex items-center justify-center px-4">
    <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-md">
        <h2 class="text-3xl font-bold text-center text-gray-800 mb-6">Welcome Back!</h2>
        <p class="text-center text-gray-600 mb-4">Please login to your account</p>

        <form method="POST">
            {% csrf_token %}
            <div class="mb-4">
                <label for="username" class="block text-gray-700 text-sm font-bold mb-2">Username</label>
                <input type="text" name="username" id="username" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-400 focus:border-transparent" placeholder="Enter your username" required>
            </div>

            <div class="mb-4">
                <label for="password" class="block text-gray-700 text-sm font-bold mb-2">Password</label>
                <input type="password" name="password" id="password" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-400 focus:border-transparent" placeholder="Enter your password" required>
            </div>

            <div class="flex items-center justify-between mb-4">
                <a href="#" class="text-sm text-blue-500 hover:underline">Forgot your password?</a>
            </div>

            <div class="mb-4">
                <button type="submit" class="w-full bg-[#26402b] hover:bg-[#57825f] text-white font-bold py-2 px-4 rounded-lg transition duration-300">
                    Login
                </button>
            </div>
        </form>

        <div class="text-center">
            <p class="text-gray-600">Don't have an account? <a href="{% url 'main:register' %}" class="text-blue-500 font-bold hover:underline">Register</a> Now!</p>
        </div>

        <!-- Dekorasi tambahan -->
        <div class="mt-7 text-center">
          <h1 class="text-3xl font-extrabold text-gray-700 opacity-50">
              Thrift it Thrively!
          </h1>
      </div>
  </div>
{% endblock %}
